name: build and deploy live translation

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo 'build'

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - run: echo 'deploy'
